:root {
    --font-family: 'Inter', sans-serif;
    --color-primary: #000000;
    --color-secondary: #DBE5EA;
    --color-link: #456BD9;
    --color-transparent: #0005;
    --background-primary: rgb(247, 247, 248);
    --background-secondary: #ffffff;
}
body.dark-mode {
    --font-family: 'Roboto Mono', monospace;
    --color-primary: rgb(247, 247, 248);
    --color-secondary: #3d3d3d;
    --color-link: #91a7ff;
    --color-transparent: #fff5;
    --background-primary: rgb(30, 30, 30);
    --background-secondary: #282828;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    transition: .1s;
}
body {
    background-color: var(--background-primary);
    color: var(--color-primary);
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.header {
    text-align: center;
}
h1 {
    font-weight: 900;
    font-size: 35px;
    margin: 0px;
}
span {
    font-weight: 200;
}
p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
#darkmode {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

